opendartreader>=0.2.3
pandas>=2.0.0
numpy==1.26.4
python-dotenv
openpyxl
xlrd
beautifulsoup4
pdfminer.six
scikit-learn
sentence-transformers
scipy
pandas-datareader
pykrx
yfinance
fastapi 
uvicorn 
requests
setuptools